[Rr]elease/
[Dd]ebug/
[Xx]64/
[Bb]uild/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio cache directory
.vs/
.vscode/

# Fortran module files
*.mod
*.smod

# Executables
*.exe
!premake5.exe
*.out
*.app
